h1, p {
    font-family: 'Courier New', Courier, monospace;
    max-width: 200px;
    text-align: left;
    /* margin: auto; */
    /* display:; */
}

/* .canvas-container { */
    /* margin: 0; */
/* } */